@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    background-image: url("images/ticks.png");
}

#page{

}

#header {
    padding-left: 42.5%;
    font-family: "open sans", sans-serif;
    font-weight: 300;
    font-size: 300%;
}

#bio {
    padding-left: 28%;
    font-family: "open sans", sans-serif;
    font-weight: 300;
    font-size: 200%;
}