@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic);

body {
    /*background-image: url("images/ticks.png");
    */
}

#page{
    text-align: center;
    min-width: 850px;
    font-weight: 300;
    font-family: "open sans", sans-serif;
}

#header {
    margin: 10px auto 10px auto;
    font-size: 300%;
}

#about {
    margin: 10px auto 10px auto;
    width: 800px;
    font-size: 120%;
}

#navigation {
    margin: 10px auto 10px auto;
    width: 800px;
    padding-right: 35px;
}

li {
    margin: 10px 10px 10px 10px;
    font-size: 150%;
    display: inline;
}

li:hover{
    border-bottom: 4px solid black;
    
}

#page a:link{
    text-decoration: none;
    color: black;
}

#page a:visited{
    text-decoration: none;
    color: black;
}