@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    background-image: url("images/ticks.png");
}

#page{
    padding-left: 44%;
}

#header {
    font-family: "open sans", sans-serif;
    font-weight: 300;
    font-size: 200%;
}
